[submodule "kicad-esp8266"]
	path = kicad-esp8266
	url = git@github.com:jdunmire/kicad-ESP8266.git
[submodule "freetronics_kicad_library"]
	path = freetronics_kicad_library
	url = git@github.com:freetronics/freetronics_kicad_library.git
